<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>高科大智商系 廖奕雯</title>
</head>
<body>
        <h1>國立高雄科技大學</h1>
        <h2>智慧商務系</h2>
        <h3>廖奕雯</h3>
        <button id="btnHello" onClick="sayHello()">Website</button>
        <button id="btnexp" onClick="sayexp()">專長</button>
        <button id="btnintetest" onClick="sayintetest()">興趣</button>
        <!-- <script src="../static/script.js"></script> -->
        <script type = "text/javascript" 
         src = "{{ url_for('static', filename = 'script2.js') }}" ></script>
</body>
</html>
