<html>
    <!-- 網頁的標題、圖標... -->
    <head>
        <mate charset="utf-8">
        <title>第一個網頁</title>
    </head>
    <!-- 網頁的具體內容 -->
    <body>
        這是網頁的內容
        <a href="https://tw.yahoo.com/" target="_blank">Yahoo</a>
        <a href="https://tw.google.com/" target="_blank">Google</a>

        <h1>666666666</h1>
        <h2>666666666</h2>
        <h3>666666666</h3>
        <h4>666666666</h4>
        <h5>666666666</h5>

        <p>ppppppppppp</p>

    <div>
        <p>ppppppppppp</p>
    </div>

        <ul>
            <li>hahaha</li>
            <li>hahaha</li>
            <li>hahaha</li>
        </ul>

        <ol>
            <li>ahahah</li>
            <li>ahahah</li>
            <li>ahahah</li>
        </ol>

    <img src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png">
    </body>
</html>