<!DOCTYPE html>
<html>
<head>
    <title>旅遊整合平台</title>
</head>
<body>
    <header>
        <h1>旅遊整合平台</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">首頁</a></li>
            <li><a href="/login">登入</a></li>
            <li><a href="/register">註冊</a></li>
            <li><a href="/profile">個人帳號資訊</a></li>
            ===========================================
            <li><a href="/searchPage">探索行程</a></li>
            <li><a href="/favorites">個人收藏</a></li>            
            <li><a href="/create_itinerary">創建行程包</a></li>
            <li><a href="/community">社群</a></li>
        </ul>
    </nav>
    <main>
        <h2>最新消息</h2>
        <ul>
            <li>消息一</li>
            <li>消息二</li>
            <li>消息三</li>
        </ul>
    </main>
    <footer>
        <p>版權所有 &copy; 2023 旅遊生活一把罩</p>
    </footer>
</body>
</html>
